{% extends "appbase.html" %}
{% load static %}

{% block title %} - 
  {% if recipe == None %}
  Proposer une recette
  {% else %}
  {{ recipe.title }}
  {% endif %}
{% endblock %}

{% block content %}

{% if ok %}
  <div class="alert alert-success">Recette enregistrée !</div>
{% elif ko %}
  <div class="alert alert-danger">
    <p>Erreur(s) de validation : </p>
    <ul>
    {% for field, errlist in form.errors.items %}
      {% for err in errlist %}
        <li>{{ err }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  </div>
{% endif %}
<form class="col-12 py-3" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-4">
      <table class="ingredients table table-hover">
        <tr>
          <th>Ingredient</th>
          <th>Option</th>
          <th>Suppr.</th>
        </tr>
      {{ ingredients.management_form }}
      {% for form in ingredients %}
      <tr {% if form.errors %}
          class="table-danger"
        {% elif form.is_valid and form.has_changed %}
          class="table-success"
        {% endif %}>
        <td>
          {{ form.hidden_fields|join:'' }}
          {{ form.name }}
        </td>
        <td>{{ form.optional }}</td>
        <td>{{ form.DELETE }}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
    <div class="col-8">
      <table>
      {{ form.as_table }}
      </table>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Enregistrer">
</form>

{% endblock %}