{% extends "appbase.html" %}
{% load static %}

{% block title %} - 
  {% if recipe == None %}
  Proposer une recette
  {% else %}
  {{ recipe.title }}
  {% endif %}
{% endblock %}

{% block content %}

{% if ok %}<div class="alert alert-success">Recette enregistrée !</div>{% endif %}
<form class="col-12 py-3" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-4">
      {{ ingredients.management_form }}
      {% for form in ingredients %}
        {{ form }}
      {% endfor %}
    </div>
    <div class="col-8">
      {{ form }}
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Enregistrer">
</form>

{% endblock %}